
.vercel/
node_modules/
.vercel/output/
dist/
.next/
__pycache__/

.env
backend/.env
*.env

openPlan3D/node_modules/
openPlan3D/.svelte-kit/
openPlan3D/build/
openPlan3D/.env

openPlan3D/node_modules/
openPlan3D/.svelte-kit/
openPlan3D/build/
openPlan3D/.env
